/* Banner image with text Starts Here */

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(50%);
}

.banner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.banner .text h1 {
    color: #274c67;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 0 #6096ba
}

.banner .text h1:hover {
    color: lightpink;
}

@media only screen and (max-width : 700px) {
    .banner {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    
    .banner img {
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: brightness(50%);
    }
    
    .banner .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        z-index: 1;
    }
    
    .banner .text h1 {
        color: #274c67;
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 2px 2px 0 #6096ba
    }
    
    .banner .text h1:hover {
        color: lightpink;
    }
}

/* Banner image with text Ends Here */


/* Features heading starts here */

.features h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #A3CEF1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    font-weight: bold;
}

.features h1:hover {
    color: pink;
}

.features h1:after,
.features h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #274c77;
    border-top: 2px solid #274c67;
    height: 5px;
    background-color: #f8f8f8;
}

/* Features heading ends here */


/* Story section starts here */

.story-text {
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    color: #03375d;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.story-text:hover {
    background-color: #6096ba;
    color: pink;
    /* transform: translateY(-10px); */
}


/* Story section ends here */

@media only screen and (max-width : 700px) {
    body {
      overflow-x: hidden;
  
      /* background-color: wheat; */
    }
    
    /* NAVBAR CSS STARTS HERE  */
    nav {
      flex-direction: column;
      padding: 20px;
      font-size: 16pt;
    }
  
    .logo img {
      height: 75px;
    }
  
    .menu {
      margin-top: 20px;
    }
  
    .menu li {
      margin: 0;
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu a {
      display: block;
      padding: 10px 0;
    }
    
    /* NAVBAR CSS ENDS HERE */
}

/* Founder Section (Connie's Part) Starts here */
.connie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.connie-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.connie img {
    width: 300px;
    height: auto;
    margin-right: 50px;
}

.connie-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-left: 5%;
}

@media only screen and (max-width: 768px) {
    .connie {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .connie img {
        margin-bottom: 10%;
        margin-top: 30px;
        margin-left: 10%;
        align-content: center;
        padding-bottom: 100%;
    }

    .connie-text {
        margin-top: 50%;
        margin-left: -80%;
        margin-right: 10px;
    }
}
/* Founder Section (Connie's Part) Ends here */


/* Founder Section (ANSHUL's Part) Starts here */
.anshul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.anshul-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    margin-left: 20%;
}

.anshul-img {
    flex: 1;
}

.anshul-img img {
    width: 300px;
    height: auto;
    margin-left: 50px;
    margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
    .anshul {
        margin-top: -50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .anshul-img {
        margin-top: 30px;
        order: -1;
    }

    .anshul-text {
        margin-left: 30px;
        margin-right: 30px;
    }
}

/* Founder Section (ANSHUL's Part) Ends here */


/* Founder Section (Hiro's Part) Starts here */
.hiro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hiro-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.hiro img {
    width: 300px;
    height: auto;
    margin-right: 50px;
    margin-bottom: 10%;
}

.hiro-text {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}


@media only screen and (max-width: 768px) {
    .hiro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hiro img {
        margin-top: -60%;
        margin-left: 5%;
        align-content: center;
        padding-bottom: 100%;
        margin-bottom: 10%;
    }

    .hiro-text {
        margin-top: 100%;
        margin-left: -120%;
        margin-right: 10px;
    }
}
/* Founder Section (Hiro's Part) Ends here */