/* Banner image with text Starts Here */

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: brightness(50%);
}

.banner .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

.banner .text h1 {
    color: #274c67;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 0 #6096ba
}

.banner .text h1:hover {
    color: lightpink;
}

@media only screen and (max-width : 700px) {
  .banner {
      position: relative;
      width: 100%;
      height: 250px;
      overflow: hidden;
  }
  
  .banner img {
      width: 100%;
      height: auto;
      object-fit: cover;
      filter: brightness(50%);
  }
  
  .banner .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #fff;
      z-index: 1;
  }
  
  .banner .text h1 {
      color: #274c67;
      font-size: 3rem;
      font-weight: bold;
      text-shadow: 2px 2px 0 #6096ba
  }
  
  .banner .text h1:hover {
      color: lightpink;
  }
}

/* Banner image with text Ends Here */


@media only screen and (max-width : 700px) {
    body {
      overflow-x: hidden;
  
      /* background-color: wheat; */
    }
    
    /* NAVBAR CSS STARTS HERE  */
    nav {
      flex-direction: column;
      padding: 20px;
      font-size: 16pt;
    }
  
    .logo img {
      height: 75px;
    }
  
    .menu {
      margin-top: 20px;
    }
  
    .menu li {
      margin: 0;
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu a {
      display: block;
      padding: 10px 0;
    }
    
    /* NAVBAR CSS ENDS HERE */
}

/* Features heading starts here */

.features h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #A3CEF1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 3%;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    font-weight: bold;
}

.features h1:hover {
    color: pink;
}

.features h1:after,
.features h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #274c77;
    border-top: 2px solid #274c67;
    height: 5px;
    background-color: #f8f8f8;
}

/* Features heading ends here */