nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #274c67;
    ;
    color: #6096ba;
    padding: 10px 20px;
    font-size: 20pt;
    font-weight: bold;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 80px;
    margin-right: 10px;
  }
  
  .logo a {
    text-decoration: none;
    color: #274c77;
  }
  
  .logo a {
    text-decoration: none;
    background: linear-gradient(to right, pink 50%, #6096ba 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h1 {
    font-size: 30pt;
    margin: 0;
    font-family: 'CustomFont', sans-serif;
  
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 40px;
  }
  
  .menu a {
    color: #6096ba;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .menu a:hover {
    color: pink;
  }
  
  #btnme {
    background-color: #1a344c;
    padding: 10px 20px;
    font-size: 20pt;
  }
  
  #btnme:hover {
    color: pink;
    background-color: #6096ba;
    border: 2px solid #e7ecef;
  }

  #logout {
  color: white;
  font-size: 15pt;
  border-radius: 5px;
}

#logout:hover {
  background-color: #6096ba;
  border: 2px solid #e7ecef;
}

  /* FOOTER CSS */
  /* FOOTER CSS */

  .fttr {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #f8f8f8; */
    padding: 20px;
    flex-direction: column;
  }
  
  .fttr h2 a {
  color: red;
  font-size: 30pt;
  }
  
  .fttr h2 {
    font-size: 30pt;
    margin: 0;
    margin-bottom: 20px; /* add a margin bottom to create space */
  }
  
  .fttr a {
    font-size: 15pt;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.3s ease;
    color:  #6096ba;;
  }
  
  .fttr a:hover {
    color: pink;
  }
  
  .fttr p {
    margin: 20px 0; /* add a margin top and bottom to create space */
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .fttr .logo {
    font-size: 20px;
    font-weight: bold;
  }
  
  .fttr .copyright {
    font-size: 10pt;
    color: red;
    margin-bottom: 0;
    margin-top: 5%;
    text-align: center;
  }
  

  @media only screen and (max-width : 700px) {
    body {
      overflow-x: hidden;
  
      /* background-color: wheat; */
    }
    
    /* NAVBAR CSS STARTS HERE  */
    nav {
      flex-direction: column;
      padding: 20px;
      font-size: 16pt;
    }
  
    .logo img {
      height: 75px;
    }
  
    .menu {
      margin-top: 20px;
    }
  
    .menu li {
      margin: 0;
      margin-right: 5px;
      margin-left: 5px;
      text-align: center;
    }
  
    .menu li:last-child {
      margin-bottom: 0;
    }
  
    .menu a {
      display: block;
      padding: 10px 0;
    }
    
    /* NAVBAR CSS ENDS HERE */
}